
body{font-family:Arial,'microsoft yahei',Helvetica, sans-serif; color: #333;}
a,button{transition: 0.5s;-webkit-transition: 0.5s;-moz-transition: 0.5s;}
ul{list-style:none;}
h2{margin: 0px; padding: 0px;}
header{background-color: white;}
.top_menu{font-size: 12px; color: #7C98A2;  width: 100%;  height: 30px; background-color: #e7e7e7;color: #B3B3B3;}
.top_lang{float: right;height: 30px; padding: 4px 10px 0px 10px; }
.top_name{display: inline-block; padding-top:6px;}.top_lang a img{	width: 30%;}
.flash img{ width: 100%}
.flash ul.bxslider{list-style:none;}
.flash div.bx-pager{bottom: 4%;}
.flash div.bx-controls-direction{ dissplay:none; }
.img-thumbnail:hover,.opacity_img:hover{opacity: 0.8; }

/*导航菜单*/
.navbar{margin:0px; background-color:#242589; border: none;}
#app_menudown{position: absolute; top:0px; right:0px; font-size: 16px;}
#app_menudown:hover{background-color: #242589;}

/*产品搜索*/
.search_group{float: right; margin:48px 0px 0px 0px;}
.search_group input.form-control{ border-radius: 0px; border: none; box-shadow: none; padding: 12px 10px;height: 38px; border: 1px solid #cbcbcb; border-right: none;color:#cbcbcb;}
#submit_search{color:#fff;font-size: 16px; height: 38px; background-color:#cbcbcb; border-radius: 0px; margin-top: -1px;}
#submit_search:hover{cursor: pointer; background-color: #4396d9;}
#small_search{color:#fff; float: right; margin-top: 7px; padding:8px 13px;font-size: 17px;border-radius: 4px;}
#small_search:hover,#small_search:focus{cursor: pointer; background-color: #4396d9;}

/*我们的优势*/
.advantage{text-align: center; color: #fff; padding: 55px 0px 30px 0px; background-position:center;background-repeat:no-repeat; background-color: #089BDE; margin-top: 20px;}
.advantage_head p{text-transform: uppercase; font-family: 'Times New Roman'; font-size: 40px; margin: 0px; padding: 0px;}
.advantage_head h2{font-size: 24px;}
.advantage_list{margin-top: 25px;}
.advantage_col{margin-top: 30px; margin-bottom: 50px;text-align: left;}
.advantage_col h4{text-align: left;padding-top: 8px;}
.advantage_col h4 a{color: #fff;}
.advantage_col h4 a:hover{color: #CFA970; text-decoration: none;}
.advantage_col span{display: inline-block; text-align: left; border-top: 1px solid #505050; padding-top: 9px;}
.advantage_col img{max-width: 100px; -webkit-transition: -webkit-transform 1.2s ease-out; -moz-transition: -moz-transform 1.2s ease-out; -o-transition: -o-transform 1.2s ease-out; -ms-transition: -ms-transform 1.2s ease-out;}
.advantage_col img:hover {-webkit-transform: rotateZ(360deg); -moz-transform: rotateZ(360deg); -o-transform: rotateZ(360deg); -ms-transform: rotateZ(360deg); transform: rotateZ(360deg);}

/*公司简介*/
.about_index{padding: 35px 20px 50px 20px;margin-top: 28px; }
.about_head{border-bottom:1px solid #eaeaea; text-align: left;}
.about_head h2{font-size: 24px; color: #767676; margin-bottom: -12px;}
.about_head span{font-size: 20px;color: #AD8645; padding-right: 7px; position: relative; top:12px; background-color: #fff;}
.about_content p{line-height: 32px; margin-top:20px;}
.about_content img{margin: 9px 30px 0px 0px; max-width: 420px;}
.about_content a.btn-info{color: #000; background: transparent; border-radius: 0px; border:1px solid #000; padding: 8px 36px;}
.about_content a.btn-info:hover,.about_content a.btn-info:focus{color: #fff; background: #000; border:1px solid #000; }

/*首页产品*/
.product_head{background: url(../images/line.gif) no-repeat center center; height: 65px;}
.product_head h2{font-size: 32px; font-weight: bold; text-align: center; color: #38383A; margin: 0px; padding-top: 15px;}
.product_head p{font-family: 'Times New Roman';text-align: center;padding-top: 2px;  font-size: 16px;color: #3B3C3E; margin-bottom:5px;}
.product_index{margin:45px 0px 0px 0px;}
.product_list{clear: both;  padding: 50px 0px 30px 0px;margin-right: -15px;margin-left: -15px;}
.product_list2{padding-top: 30px;}
.product_img{padding-left: 15px; padding-right: 15px; min-height: 370px;}
.product_img img{margin-right: auto;margin-left: auto;display: block;max-width: 100%;height: auto; margin-bottom: 10px;  max-height: 320px;}
.product_list2 div.product_img{min-height: 220px;}
.product_title{ text-align: center;padding: 0px 15px 0px 0px; height: 40px;}
.product_title a{ color: #656464;}
.product_title a:hover{text-decoration: none;color:#CFA970;}

/*首页案例*/
.case_box{background-color: #F6F6F6;padding:35px 0px 0px 0px;}
.case_head h2{text-align: center;margin-bottom: 5px;}
.case_head p{text-align: center;font-family: 'Times New Roman';}
.case_list{clear: both;  padding: 30px 0px 10px 0px;margin-right: -15px;margin-left: -15px;margin-bottom: 383px;}

/*首页新闻*/
.news_head{margin-top: 67px;}
.news_head h2{text-align: center;margin-bottom: 5px;}
.news_head p{text-align: center;font-family: 'Times New Roman';}
.news_index{clear: both; list-style:none;margin:0px; padding:20px 0px 0px 15px;}
.news_index li{margin-bottom: 20px;padding: 25px 15px;width: 339px; min-height: 404px; border: 1px solid #ccc;float: left;margin-left: 20px;}
.news_index li span{display: inline-block; width: 60px; height: 60px; text-align: center; background-color: #CFA970; color: #fff; float: left;  padding:0px 2px; position: relative; left: -35px; top:-5px;}
.news_index li span strong{display: block; font-size: 24px; padding-top: 5px;}
.news_index li span i{display: block; font-size: 12px;  font-style: normal; font-family: Arial;}
.news_index li a{color:#333;font-size: 16px;}
.news_index li a:hover{ text-decoration:none;color:#CFA970; }
.news_index li em{ font-style: normal; display:inline-block; line-height: 18px;color: #777; padding-top: 10px;margin-left: -20px;}
.newstitlecg p{
	display: block;
	width: 253px;
	height: 64px;	
	float: right;
}
.newstitlecg .ppz{
	display: block;
	color: #881f13;
	font-size: 18px;
	margin-top: 10px;
	height: 25px;
	overflow: hidden;
	    color: #881f13;
/*white-space: nowrap;
text-overflow: ellipsis;*/
}
/*.bora{
	border: 1px solid #CCCCCC;
}*/
.newstitlecg .ppi{
	display: block;	
	font-size: 15px;
	color: #bfbfbf;
	overflow: hidden;
}
.datacg{
	width: 52px;
	height: 60px;
	float: left;
	position: relative;
	margin-left: 15px;
	border-radius: 10px;
	background: url(../images/xiegang1.png) no-repeat -14px 0px;
}
.datacg span{
	position: absolute;
}
.datacg span:nth-child(1){
	position: absolute;
	left: 5px;
	top: 10px;
	font-size: 15px;
}

.datacg span:nth-child(2){
	position: absolute;
	right: 0;
	bottom: 0;
	font-size: 25px;
}
/*列表页*/
.list_box{clear: both; padding:10px 0px 0px 0px;}
.page_bg{height: 160px;}

/*栏目导航*/
.left_nav{ clear: both; padding-top: 10px;}
.left_h{background:url(../images/title_line.jpg) left bottom no-repeat; font-size: 22px; display: block; margin-top: 25px; padding: 0px 0px 10px 0px; color: #2C2B2B;}
.left_nav_ul{list-style:none;margin:0px;padding:0px; margin:15px 0px 0px 0px;}
.left_nav_ul > li{position:relative; border-bottom: 1px solid #f2f2f2; background: url(../images/left_sli.gif) 6px 15px no-repeat;padding:8px 0px 8px 18px; }
.left_nav_ul > li > a{text-decoration:none; color:#656464;}
.left_nav_ul > li > a:hover,.left_nav_ul li a.left_active{color:#CFA970;}
/*小类*/
ul.left_snav_ul{list-style:none;padding:0px;display: none; padding-top: 8px;}
ul.left_snav_ul > li{ margin:0px;padding:5px 0px 5px 10px; background: url(../images/left_sli.gif) 0px 13px no-repeat;}
ul.left_snav_ul > li > a{border:0;color:#797979;padding: 5px 0px 5px 0px;}
ul.left_snav_ul > li > a:hover{ text-decoration: none;color:#CFA970;}
.menu_head{cursor:pointer; font: 600 18px/30px "Open Sans", sans-serif; width:35px; text-align:center;color:#303c4b;display:inline-block;position: absolute; top:3px; right:0px;}
.menu_head:hover{ color: #CFA970;}

/*左侧新闻*/
.left_news{clear: both; list-style:none;margin:0px; padding:12px 0px 0px 0px;}
.left_news li{color:#545455;border-bottom: 1px dotted #dddddd;background: url(../images/li.png) no-repeat left 15px;line-height:21px; padding: 10px 0px; padding-left:14px;}
.left_news li a{color:#7F7F80;}
.left_news li a:hover{ text-decoration:none;color:#CFA970; }

/*左侧联系*/
.index_contact{margin:30px 0px 35px 0px;}
.index_contact p,.index_econtact p{clear: both;}

/*新闻列表*/
.list_news{clear: both; list-style:none;margin:0px; padding:12px 0px 20px 0px;}
.list_news li{color:#898989;background: url(../images/li.png) no-repeat left 14px;line-height:22px; padding:8px 0px; padding-left:13px;border-bottom: 1px dashed #e3e2e2;/*dotted*/ }
.list_news li a{color:#303c4b;}
.list_news li a:hover{text-decoration:none;color:#CFA970;}
.news_time{ float:right;}

.contents{clear: both; padding:15px 2px 0px 2px; line-height:28px; overflow: auto;}
.contents_title{ margin: 0px; padding: 10px 0px; text-align: center; color: #000; font-size:18px;color:#434343;font-weight:bold; line-height: 34px;}

/*分页样式*/
.page{clear:both; margin:20px 0px 0px 0px; text-align: center;}
.page a {display: inline-block; font-family: Arial; font-size: 13px; border: #dbdbdb 1px solid; padding:4px 9px; margin: 2px; margin-bottom: 5px; color: #31363c; text-decoration: none}
.page a:hover,.page a:focus{font-family: Arial;font-size: 13px;border: #000 1px solid; padding:4px 9px;color: #fff; background-color: #31363c;}
.page .current {font-family: Arial;border: #000 1px solid; font-size: 13px; padding:5px 9px; color: #fff;margin: 2px;  background-color: #31363c}

/*产品展示*/
#pic-page {text-align: center; margin-top:10px;}
#pic-page a {margin: 0 2px;}
#pic-page a img {width:40px;padding: 2px;border: solid #ccc 1px; margin-bottom:5px;}
#pic-page a:hover img,#pic-page a.active img {border: solid #5280DD 1px;}
.showpic_box,.proinfo_box{margin: 30px 0px 20px 0px;}
.showpic_box div.bx-wrapper img{margin: 0 auto; max-height: 340px;}
.product_h1{ margin:0px; line-height:24px; font-size:16px; color: #B97809; padding-bottom:5px;border-bottom: 1px dotted #cccccc;}
.product_info{list-style:none; padding:0px; margin-top:10px;}
.product_info li{ line-height:24px; padding-bottom:12px;}
.product_con{ clear: both; border-top: 1px dotted #ccc; margin:10px 0px 20px 0px;padding:20px 0px 0px 0px; line-height:26px;overflow: auto;}

.related_h1{padding: 30px 0px 12px 0px; color: #303c4b; margin:0px; display: block;  font-weight:300; font-size:24px; border-bottom:5px solid #f4f5f6;font-family:'Roboto',Arial,Helvetica, sans-serif;}
.related_list{padding-top: 25px;}
.related_news{ padding-top: 10px; clear: both; margin-bottom: 15px;}

.download_btn{text-align: right; margin: 10px 10px 20px 0px;}
.page-btn{background-color: #C79447; border-radius: 0px; border: none;}
.page-btn:hover,.page-btn:focus{background-color:#31363c; }
.grey-btn{border-radius: 0px;border: none; background-color: #E8E8E8;}
.grey-btn:hover,.grey-btn:focus{background-color: #ccc;}

.a2a_default_style{display: inline-block;}

/*在线留言订购*/
.feedback{margin-top: 40px;}
.form-horizontal .form-group { margin-right: -10px;margin-left: -10px;}
.codeimg{ margin: 0px 0px -10px -18px;}


/*上一个下一个*/
.point{ clear: both; margin:20px 0px 40px 0px; padding-bottom: 40px; line-height:22px;}
.point span.to_prev{text-align:center; }
.point span.to_prev a{color:#0068b7;}
.point span.to_prev a:hover{color: #CFA970}
.point span.to_next{text-align:center; }
.point span.to_next a{color:#0068b7;}
.point span.to_next a:hover{color: #CFA970}

/*标签样式*/
.tags{ margin: 15px 0px 10px 0px}
.tags a{ margin: 0px 5px 8px 0px}
.tags_list{padding: 5px 10px 100px 10px}
.tags_ul{ margin-top: 10px;}
.tags_ul li{line-height: 28px; margin-bottom: 8px; padding-bottom: 10px;}
.tags_ul h3{font-size: 14px; padding: 0px; margin: 0px;line-height: 20px;}
.tags_ul p{font-size: 13px;padding: 0px; margin: 0px; color: #a0a0a0; line-height: 20px; padding-top: 8px;}

/*网站地图*/
ul.ul_sitemap{margin: 30px 0px 40px 30px;}
ul.ul_sitemap li{list-style: none; line-height: 26px;clear: both;}
ul.ul_sitemap li a{color: #7d7d7d;}
li.small_li_sitemap{clear: both;padding-left: 12px;}
li.small_li2_sitemap{float: left; padding-left: 20px;}


/*首页Tags*/
.tags_box{background-color: #545454; padding: 9px 0px 9px 0px; text-align: center;color: #E9E9EA;font-size: 13px;}
.tags_box a{color: #E9E9EA; border-right: 1px solid #BBBBBB; padding:0px 8px 0px 8px;font-size: 13px;}
.tags_box a:hover{text-decoration: none; color: #CFA970;}
.tags_box a:last-child{border-right:0px;}
.tags_box button{display: none;}
.tags_title{font-size: 13px; margin-right: -6px;}
.tags_title a{padding:0px 10px 0px 0px;}
.tags_title:after{content:"：";}

/*友情链接*/
.link_box{background-color: #4A4A4A; padding: 10px 0px; text-align: center;color: #E9E9EA;font-size: 13px; margin-top: 25px;}
.link_box a{color: #E9E9EA; border-right: 1px solid #BBBBBB; padding:0px 10px 0px 10px; font-size: 13px;}
.link_box a:hover{text-decoration: none; color: #CFA970;}
.link_box a:last-child{border-right:0px;}
.link_box button{display: none;}
.link_title{font-size: 13px; margin-right: -6px;}
.link_title:after{content:"：";}

/*底部信息*/
footer{ text-align:center; background-color: #333; color:#fff; padding:30px 0px 20px 0px; font-size:12px;}
.copyright{ line-height:20px;}
.copyright a{ color:#fff;}
.foot_nav{ width:50%; float:left;background-color: #fafafa;text-align:center;color:#898989;} 
.foot_nav:hover,.foot_nav:focus{background-color: #e4e4e4;cursor:pointer;}
.foot_nav a{color:#898989;display:block;}
.foot_nav a:hover,.foot_nav a:focus{text-decoration:none;}
.foot_nav span{display:block; padding:3px 0px 0px 0px;}
.webshare{width: 230px; padding: 5px;}
.ewebshare{width: 200px; padding: 5px;}

/*大屏幕*/
@media screen and (min-width: 769px) {
       header{}
       .logo{margin: 25px 0px 15px 0px; max-width: 700px;width: 223px;}
      .navbar{ margin-top:20px;  min-height: 30px; }
      .navbar-nav > li{}
      .navbar-nav > li:first-child { border-left:0; }
      .navbar-nav > li:last-child{ border-right:0; }
      .navbar-nav > li > a {text-align: center;}
      .navbar-default .navbar-nav > li > a{color: #fff;padding: 12px 30px 12px 30px;}
      .navbar-default .navbar-nav > li > a:hover,
      .navbar-default .navbar-nav > li > a:focus,
      .navbar-default .navbar-nav > .active > a,
      .navbar-default .navbar-nav > .active > a:hover,
      .navbar-default .navbar-nav > .open > a,
      .navbar-default .navbar-nav > .open > a:hover,
      .navbar-default .navbar-nav > .open > a:focus {
          background-color: #0097d8; color: #fff;}
      .navbar-brand{display: none;}
      .navbar-default .navbar-nav-e > li > a{}

      .navbar-fixed-top{margin-top:0px; min-height: 40px;}
      .navbar-fixed-top ul.navbar-nav > li > a{padding: 11px 28px 12px 28px;}
      
      .nav_small{background-color:#202020; background-color: rgba(32,32,32,0.8); padding: 8px 0px 8px 0px; border-radius: 0px; border: none; box-shadow: none;}
      .nav_small > li > a{line-height:26px; color: #fff; font-size: 13px;}
      .nav_small > li > a:hover{color: #fff; background-color: #0097d8;}
       #app_menudown,#small_search{ display:none; }
      .index_left_nav,.footer_nav{display:none; }
      .index_about {width: 600px;}
}

/*小屏幕*/
@media screen and (max-width: 768px) {
      .logo{display: none; margin: 0 auto; max-width:310px;margin-top:18px;margin-bottom: 15px;}
      .navbar-default .navbar-brand {color: #fff; font-size: 16px;}
      .navbar-default .navbar-brand:hover,
      .navbar-default .navbar-brand:focus {color: #fff;}
      .navbar-toggle{border:none;}
      .navbar-default .navbar-collapse, .navbar-default .navbar-form{border:1px solid #202020;}
      .navbar-default .navbar-toggle:hover,
      .navbar-default .navbar-toggle:focus {
        background-color: #CFA970;
      }
      .navbar-default .navbar-toggle .icon-bar{background-color: #fff;}
      .navbar-default .navbar-nav{margin-top: 0px;margin-bottom: 0px;}
      .navbar-default .navbar-nav > li {}
      .navbar-default .navbar-nav > li:last-child{border: none;}
      .navbar-default .navbar-nav > li > a,
      .navbar-default .navbar-nav .open .dropdown-menu > li > a{color: #fff;}
      .navbar-default .navbar-nav > li > a:hover,
       .navbar-default .navbar-nav > li > a:focus,
       .navbar-default .navbar-nav > .active > a, 
       .navbar-default .navbar-nav > .active > a:hover, 
       .navbar-default .navbar-nav > .active > a:focus,
       .navbar-default .navbar-nav > .open > a, 
       .navbar-default .navbar-nav > .open > a:hover, 
       .navbar-default .navbar-nav > .open > a:focus,
       .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover{
        background-color: #CFA970; color: #fff;}
        .navbar-fixed-top{background-color: rgba(32,32,32,0.9);}

      .top_name{display: none;}
      .search_group{margin: 5px 0px 20px 0px;}
      #topsearch{display: none;}
      .product_head{background:none;}
      .product_head h2{font-size:26px;}
      .product_index{margin-top: 10px;}
      .product_list{padding: 20px 0px 0px 0px;}
      .product_img{min-height:80px; margin-bottom: 60px;}
      .product_list2 div.product_img{min-height:80px; margin-bottom: 10px;}
      .advantage_list{margin-top: 10px;}
      .advantage{padding: 40px 0px 10px 0px;background-size: cover;background-attachment: fixed;}
      .advantage_head p{font-size: 30px;}
      .advantage_head h2{font-size: 20px;}
      .advantage_col h4{text-align: center; margin-top: 15px;}
      .advantage_col span{text-align: center;}
      .advantage_col img{display: block; margin: 0 auto;}
      .about_content img{max-width: 420px;width: 100%;margin-bottom: 15px;}
      .about_content a.btn-info{width: 220px; display:block; margin: 0 auto;padding: 8px 0px;}
      .case_head h2,.news_head h2{font-size:24px;}
      .news_index{padding-left: 0px;}
      .news_index li span{left: 0px; top:0px; margin-right:12px;}
      .news_index li a{margin-left: 0px;}
      .news_index li em{display:block;margin-left: 0px;}
      .page_bg{display: none;}
      
      .left_h{margin-top: 10px;}
      .list_related h2.left_h{margin-top: 60px;}
      .product_con img,.contents img{width:100%;}
      .news_time{ display:none;}
      #pic-page a img {width:35px;}
      #cmsFloatPanel{ display: none;}
      .point span.to_prev,.point span.to_next{text-align:left; padding-bottom: 8px;}
      .product_list2{padding-top: 25px;}
      .link_box{padding-left: 7px;}
      .link_box a{display: block;border-right:0px;padding:4px 0px;}
      .link_title{display: block;}
      .link_title:after{content:"";}
      .link_box button{display: inline-block; background-color: transparent; border: none; float: right; margin-top: -20px;}
      .link_box button:hover,.link_box button:focus{color: #99A1C5;}
      .link_list{display: none; padding-top: 7px;}
      .tags_box{padding-left: 7px;}
      .tags_box a{display: block;border-right:0px;padding:4px 0px;}
      .tags_title{display: block;}
      .tags_title:after{content:"";}
      .tags_box button{display: inline-block; background-color: transparent; border: none; float: right; margin-top: -20px;}
      .tags_box button:hover,.tags_box button:focus{color: #99A1C5;}
      .tags_rows{display: none; padding-top: 7px;}
      .footer_nav{background-color: #fafafa;}
      footer{ margin-bottom:50px; padding-left: 8px; padding-right: 8px;}
}

@media screen and (max-width: 767px) {
     .copyright_p{ display:none;}
}

/*320px到768px*/
@media screen and (min-width:320px) and (max-width:768px) {
  .col-mm-1, .col-mm-2, .col-mm-3, .col-mm-4, .col-mm-5, .col-mm-6, .col-mm-7, .col-mm-8, .col-mm-9, .col-mm-10, .col-mm-11, .col-mm-12 {
    float: left;
  }
  .col-mm-12 {
    width: 100%;
  }
  .col-mm-11 {
    width: 91.66666667%;
  }
  .col-mm-10 {
    width: 83.33333333%;
  }
  .col-mm-9 {
    width: 75%;
  }
  .col-mm-8 {
    width: 66.66666667%;
  }
  .col-mm-7 {
    width: 58.33333333%;
  }
  .col-mm-6 {
    width: 50%;
  }
  .col-mm-5 {
    width: 41.66666667%;
  }
  .col-mm-4 {
    width: 33.33333333%;
  }
  .col-mm-3 {
    width: 25%;
  }
  .col-mm-2 {
    width: 16.66666667%;
  }
  .col-mm-1 {
    width: 8.33333333%;
  }
}

@media screen and (max-width: 340px) {
  .logo{max-width:230px;}
}




